body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 100px;
    text-align: left;
    font-weight: bold;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 20px 10px;
    overflow: hidden;
    align-items: center;
}

.header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    border-radius: 4px;
    float: left;
}

.header-right {
    float: right;
}

.header a.active {
    color: purple;
    background-color: orange;
}

.main {
    font-size: 48px;
    font-weight; extra-bold;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 100px;
    float: left;
}

.placeholder {
    float: right;
}

h1 {
    text-align: center;
}

.gallery {
    text-align: center;
    padding: 100px;
    font-size: 18px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
    color: olivedrab;
    margin:0;
}

.cta-button {
    margin: 25px 50px 75px;
    outline: solid;
    outline-width: thin;
    outline-color: #3882F6;
    text-align: left;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 20px;
    font-size:18px;
}

button {
    background-color:#3882F6;
    color: white;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    padding: 15px 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

.quote-block {
    font-weight: light;
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
    text-align: left;
    padding: 100px;
}

.quote-right{
    text-align: right;
    font-weight: bold;
    font-size: 36px;
  }

  footer{
    background-color: #1F2937;
    color:white;
    text-align: center;
    padding: 100px;
    font-size:18px;
}