body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header Section */

.header {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 100px;
    text-align: left;
    font-weight: bold;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    text-align: center;
    padding: 12px;
}




/* Hero Section */
.hero {
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    padding-right: 25px;
}

.hero-paragraph {
    font-size: 18px;
    padding-right: 25px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/* Placeholder Image */
.placeholder img{
    max-width: 100%;
    height: auto;
}




/* Information Section */
.information {
    text-align: center;
}

.info-title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.info-images {
    display: flex;
    justify-content: center;
}

.info-image {
    text-align: center;
    margin: 20px;
}

.info-image img {
    max-width: 100%;
    height: auto;
}




/* Quote Section */
.quote {
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 30px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-author{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
  }




  /* Call to Action Section */
.cta-button {
    margin: 25px 50px 75px;
    outline: solid;
    outline-width: thin;
    outline-color: #3882F6;
    text-align: left;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 20px;
    font-size:18px;
}

.cta-content {
    flex: 1;
}

.cta-title {
    font-size: 36px;
    font-weight: extra-bold;
}

.cta-paragraph {
    font-size: 18px;
}

button {
    background-color:#3882F6;
    color: white;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}




/* Footer Section */
  .footer {
    background-color: #1F2937;
    color:white;
    text-align: center;
    padding:  30px 0;
    font-size:18px;
    text-align: center;
}